<form (submit)="onSubmit($event)">
  <div class="row">
    <div class="col col-md-6">
      <mat-form-field class="w-100">
        <input
          [formField]="shippingInfo().firstName"
          placeholder="First name"
          type="text"
          matInput
        />

        @if (
          shippingInfo().firstName().touched() &&
          shippingInfo().firstName().invalid()
        ) {
          @for (error of shippingInfo().firstName().errors(); track error) {
            <mat-error>{{ error.message }}</mat-error>
          }
        }
      </mat-form-field>
    </div>
    <div class="col col-md-6">
      <mat-form-field class="w-100">
        <input
          [formField]="shippingInfo().lastName"
          placeholder="Last name"
          type="text"
          matInput
        />

        @if (
          shippingInfo().lastName().touched() &&
          shippingInfo().lastName().invalid()
        ) {
          @for (error of shippingInfo().lastName().errors(); track error) {
            <mat-error>{{ error.message }}</mat-error>
          }
        }
      </mat-form-field>
    </div>
    <div class="col-12">
      <mat-form-field class="w-100">
        <input
          [formField]="shippingInfo().address"
          placeholder="Shipping address"
          type="text"
          matInput
        />

        @if (
          shippingInfo().address().touched() &&
          shippingInfo().address().invalid()
        ) {
          @for (error of shippingInfo().address().errors(); track error) {
            <mat-error>{{ error.message }}</mat-error>
          }
        }
      </mat-form-field>
    </div>
    <div class="col-12">
      <mat-form-field class="w-100">
        <input
          [formField]="shippingInfo().comment"
          placeholder="Comment"
          type="text"
          matInput
        />
      </mat-form-field>
    </div>
  </div>

  <!-- Submit button to allow form submit by Enter -->
  <button class="d-none" type="submit"></button>
</form>
